@{
    Layout = "~/Views/Shared/_Layout_Client.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/output.css">
    <link rel="stylesheet" href="~/css/clientStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

</head>
<body>
    <div class="container contact-us mx-auto px-12 py-6">
        <h1 class="text-3xl font-bold mb-4">About the Authority</h1>
        <div class="flex flex-col md:flex-col gap-x-[4em] ">
            <div class="contact-details h-fit py-4 md:w-1/2">
                <div class="img-wrapper overflow-hidden rounded w-full md:w-11/12">
                    <img src="https://www.gcaa.gov.ae/_catalogs/masterpage/GCAA.Web.Master/resources/imgs/DG.png" alt="" class="w-full mb-4">
                </div>
                <h2 class="text-xl md:text-2xl font-semibold">Customer Service Charter</h2>
                <p>I am pleased to welcome you. We are proud of our partnership in achieving a leading, safe, and sustainable civil aviation system.</p>
                <p>
                    Saif Mohammed Al Suwaidi
                    Director General
                </p>
            </div>
            <div class="map-details w-full md:w-1/2 relative pb-4 md:px-8">
                <div class="img-wrapper w-fit h-[80%] overflow-hidden absolute -right-10 flex items-center z-50 ">
                    <img class="w-36 h-fit" src="../Client/assets/img/gcaa logo2.png" alt="">
                </div>
                <div id="map" class="w-full h-48 my-4 rounded border z-40"></div>
                <h2 class="text-2xl">Stay Connected</h2>
                <p>You can reach out to us through our branches across the country:</p>
                <ol class="w-full flex justify-between my-3">
                    <li class="db"><a href="#">1. Dubai Branch</a></li>
                    <li class="adb"><a href="#">2. Abu Dhabi Branch</a></li>
                </ol>

                <div class="e-links my-6">
                    <h2 class="mb-2">Or through our digital channels</h2>
                    <ol class="flex w-full justify-between">
                        <li class="flex items-center justify-between">
                            <i class="bi-envelope mr-1 text-lg"></i>
                            <a href="." class="text-sm">Email</a>
                        </li>
                        <li class="flex items-center justify-between">
                            <i class="bi-telephone mr-1 text-lg"></i>
                            <a href="." class="text-sm">8000510</a>
                        </li>
                        <li class="flex items-center justify-between">
                            <i class="bi-chat-text mr-1 text-lg"></i>
                            <a href="." class="text-sm">wa.ma</a>
                        </li>
                        <li class="flex items-center justify-between">
                            <i class="bi-globe-americas mr-1 text-lg"></i>
                            <a href="." class="text-sm">gcaa.gov.ae</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>






    <dialog id="loginDialog" class="log-in w-[30%] h-fit bg-white rounded-lg relative" close>
        <div class="log-in-wrapper w-full h-full p-8 mt-[4.5em]">
            <form class="w-full h-full flex flex-col items-center justify-between" action="">
                <div class="email-phone-input w-full h-fit mb-2">
                    <label for="email-phone">Email/ phone number</label>
                    <input id="email-phone" type="text" class="w-full h-10 border border-yellow-600 rounded-sm text-xl mt-1">
                </div>
                <div class="password-input w-full h-fit mb-2">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="w-full h-10 border border-yellow-600  rounded-sm text-xl mt-1">
                </div>
                <div class="form-buttons w-full h-fit flex gap-x-10 my-6">
                    <button class="submit w-1/2 h-10 bg-yellow-600 overflow-hidden relative border border-gray-200 shadow-xl rounded-md">
                        <img class="absolute top-0 left-0 bottom-0 right-0 m-auto" src="https://www.abjaddesign.com/application/files/8015/8874/1892/Abjad_12_UAE_Pass_01.jpg" alt="f">
                    </button>
                    <button class="submit w-1/2 h-10 border border-yellow-600 bg-yellow-600 text-white shadow-xl rounded-md">Log in</button>
                </div>
                <p><a href="">Remeber me</a></p>
                <p class="mt-1 text-gray-300 text-xs">or</p>
                <p class="guest-button text-gray-300 text-xs cursor-pointer">Continue as a guest</p>
            </form>
        </div>
    </dialog>

    <script src="~/js/Client/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2M642sAwKlN7hWGOECQNK_DeiEN_6ets&callback=initMap&v=weekly" defer></script>

</body>
</html>