<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/output.css">
    <link rel="stylesheet" href="./assets/css/style2.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Document</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

</head>
<body class="font-droid">
    <div id="loadingPage" class="fixed loading-page bg-white opacity-70 w-full h-full top-0 left-0 z-50">
        <div id="spinner" class="spinner w-20 h-20 rounded-full border-[.7em] border-t-transparent border-yellow-600 absolute inset-0 m-auto">
        </div>
    </div>
    <nav id="attendee-navbar" class="w-full py-6 drop-shadow-md h-fit 0 relative z-50">
        <div id="logos-bar" class="flex flex-col md:flex-row justify-between w-full px-10 md:px-24 md:h-20 h-fit overflow-hidden">
            <div id="gcaa-logo" class="flex items-center justify-center">
                <button id="expand-navbar" class=" block md:hidden px-2 py-2 grow text-right"><i class="bi-justify"></i></button>
                <img class="h-full" src="./assets/img/GCAA-logo-1024x319-1.png">
            </div>
            <div id="uae-logo" class="hidden md:block">
                <img class="h-full" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Emblem_of_the_United_Arab_Emirates.svg/1200px-Emblem_of_the_United_Arab_Emirates.svg.png" alt="UAE Logo">
            </div>
        </div>

        <div id="user-bar" class="hidden md:flex justify-between border border-gray border-t border-b my-2 h-8">
            <div id="me" class="w-fit h-8 px-24 flex items-center justify-center">
                <label for="user-type">I am</label>
                <select name="" id="user-type" class="bg-transparent outline-none rounded-none">
                    <option value="Manager">Manager</option>
                    <option value="Manager2">Manager2</option>
                </select>
            </div>
            <div id="sc-user" class="flex px-24">
                <a href="../../AraWebsite/Client/index.html" class="w-fit h-8 flex justify-center border-l  border-gray p-1">
                    <p>عربي</p>
                </a>
                <a href="#" id="loginButton" class="w-fit h-8 flex justify-center border-l border-gray p-1 items-center">
                    <!-- <i class="bi-house mr-2"></i> -->
                    <p class="text-sm">Login</p>
                </a>
                <a href="#" class="w-8 h-8 flex justify-center border-l p-1">
                    <i class="bi-eye-slash"></i>
                </a>
                <a href="#" class="w-8 h-8 flex justify-center border-l border-gray p-1">
                    <i class="bi-volume-up-fill"></i>
                </a>
                <a href="#" class="w-8 h-8 flex justify-center border-l border-gray p-1">
                    <i class="bi-translate"></i>
                </a>
                <a href="#" class="w-8 h-8 flex justify-center border-l border-gray p-1">
                    <i class="bi-zoom-in"></i>
                </a>
                <a href="#" class="w-8 h-8 flex justify-center border-l border-gray p-1">
                    <i class="bi-gear-fill"></i>
                </a>
                <a href="#" class="w-fit h-8 flex justify-center border-l border-gray p-1">
                    <p>Careers</p>
                </a>
                <a href="#" class="w-8 h-8 flex justify-center border-l border-gray p-1">
                    <i class="bi-info"></i>
                </a>
                <a href="#" class="w-8 h-8 flex justify-center border-l border-gray p-1">
                    <i class="bi-question-circle"></i>
                </a>
            </div>
        </div>

        <ul id="links" class="fixed bg-yellow-600 md:bg-white text-white md:text-black top-0 -left-80 md:left-0 h-[100vh] w-6/12 md:h-fit md:w-auto md:relative transition-all ease-in-out .3s block md:flex md:flex-row px-8 md:px-16 md:py-3 py-12 ">
            <div class="h-fit md:h-fit w-full flex flex-col md:flex-row justify-between items-start text-xl text-left font-thin">
            <li class="md:hidden w-20 mb-16"><img src="./assets/img/gcaa white icon-01.png" alt=""></li>
            <!-- <li><div class="bi-house"></div></li> -->
            <li class="mb-4 flex justify-between w-full">
                <div>
                    About the Authority
                </div>
                <i class="bi-chevron-down text-sm"></i>
            </li>
            <li class="mb-4 flex justify-between w-full">
                <div>
                    Electronic Services
                    <ul>
                        <li>Home</li>
                        <li>Events</li>
                        <li>About</li>
                        <li>News</li>
                    </ul>
                </div>
                <i class="bi-chevron-down text-sm"></i>
            </li>
            <li class="mb-4 flex justify-between w-full">
                <div>
                    Media Center
                </div>
                <i class="bi-chevron-down text-sm"></i>
            </li>
            <li class="mb-4 flex justify-between w-full">
                <div>
                    Digital Participation
                </div>
                <i class="bi-chevron-down text-sm"></i>
            </li>
            <li class="mb-4 flex justify-between w-full">
                <div>
                    Information Library
                </div>
                <i class="bi-chevron-down text-sm"></i>
            </li>
            </div>
        </ul>
    </nav>


    <div class="container contact-us mx-auto px-12 py-6">
        <h1 class="text-3xl font-bold mb-4">About the Authority</h1>
        <div class="flex gap-x-[4em] ">
            <div class="contact-details h-fit py-4 w-1/2">
                <div class="img-wrapper overflow-hidden rounded w-11/12">
                    <img src="https://www.gcaa.gov.ae/_catalogs/masterpage/GCAA.Web.Master/resources/imgs/DG.png" alt="" class="w-full mb-4">
                </div>
                <h2 class="text-2xl font-semibold">Customer Service Charter</h2>
                <p>I am pleased to welcome you. We are proud of our partnership in achieving a leading, safe, and sustainable civil aviation system.</p>
                <p>
                    Saif Mohammed Al Suwaidi
                    Director General
                </p>
            </div>
            <div class="map-details w-1/2 relative pb-4 px-8">
                <div class="img-wrapper w-fit h-[80%] overflow-hidden absolute -right-10 flex items-center z-50 ">
                    <img class="w-36 h-fit" src="../Client/assets/img/gcaa logo2.png" alt="">
                </div>
                <div id="map" class="w-full h-48 my-4 rounded border z-40"></div>
                <h2 class="text-2xl">Stay Connected</h2>
                <p>You can reach out to us through our branches across the country:</p>
                <ol class="w-full flex justify-between my-3">
                    <li class="db"><a href="#">1. Dubai Branch</a></li>
                    <li class="adb"></li>
                    <a href="#">2. Abu Dhabi Branch</a></li>
                    <li class="db"></li>
                    <a href="#">3. Third Branch</a></li>
                </ol>

                <div class="e-links my-6">
                    <h2 class="mb-2">Or through our digital channels</h2>
                    <ol class="flex w-full justify-between">
                        <li class="flex items-center justify-between">
                            <i class="bi-envelope mr-1 text-lg"></i>
                            <a href="." class="text-sm">Email</a>
                        </li>
                        <li class="flex items-center justify-between">
                            <i class="bi-telephone mr-1 text-lg"></i>
                            <a href="." class="text-sm">8000510</a>
                        </li>
                        <li class="flex items-center justify-between">
                            <i class="bi-chat-text mr-1 text-lg"></i>
                            <a href="." class="text-sm">wa.ma</a>
                        </li>
                        <li class="flex items-center justify-between">
                            <i class="bi-globe-americas mr-1 text-lg"></i>
                            <a href="." class="text-sm">gcaa.gov.ae</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>






    <dialog dialog id="loginDialog" class="log-in w-[30%] h-fit bg-white rounded-lg relative" close>
        <div class="log-in-wrapper w-full h-full p-8 shadow-2xl mt-[4.5em]">
            <form class="w-full h-full flex flex-col items-center justify-between" action="">
                <div class="email-phone-input w-full h-fit mb-2">
                    <label for="email-phone">البريد الإلكتروني/ رقم الهاتف</label>
                    <input id="email-phone" type="text" class="w-full h-10 border border-yellow-600 rounded-sm text-xl mt-1">
                </div>
                <div class="password-input w-full h-fit mb-2">
                    <label for="password">كلمة المرور</label>
                    <input id="password" type="password" class="w-full h-10 border border-yellow-600  rounded-sm text-xl mt-1">
                </div>
                <div class="form-buttons w-full h-fit flex gap-x-10 my-6">
                    <button class="submit w-1/2 h-10 bg-yellow-600 overflow-hidden relative shadow-xl rounded-md">
                        <img class="absolute top-0 left-0 bottom-0 right-0 m-auto" src="https://www.abjaddesign.com/application/files/8015/8874/1892/Abjad_12_UAE_Pass_01.jpg" alt="f">
                    </button>
                    <button class="submit w-1/2 h-10 border border-yellow-600 bg-yellow-600 text-white shadow-xl rounded-md">الدخول</button>
                </div>
                <p><a href="">تذكرني</a></p>
                <p class="mt-1 text-gray-300 text-xs">أو</p>
                <p class="guest-button text-gray-300 text-xs cursor-pointer">المتابعة كضيف</p>
            </form>
        </div>
    </dialog>



    <script src="https://cdn.tailwindcss.com"></script>
    <script src="./assets/js/expandNavbar.js"></script>
    <script src="./assets/js/login.js"></script>
    <script type="module" src="./assets/js/map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2M642sAwKlN7hWGOECQNK_DeiEN_6ets&callback=initMap&v=weekly" defer></script>
</body>
</html>