@model ViewNews

@{
    Layout = "~/Views/Shared/_Layout_Client.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Authority of Civil Aviatin | NEWs center</title>
    <link rel="stylesheet" href="~/css/output.css">
    <link rel="stylesheet" href="~/css/clientStyles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body class="font-droid">
    <div class="container contact-us mx-auto px-12 py-6">

        <div id="news-and-studio" class="flex gap-6">
            <div id="news-section" class="w-3/5 py-5">
                <h2 class="text-2xl font-bold">News</h2>

                <div id="news-container" class="news-container mt-2">
                    @foreach (var ArticleData in Model.News)
                    {
                        <div class="new my-5 p-3 h-fit border border-yellow-600 rounded-xl flex flex-col items-end">
                            <div class="new-img-wrapper h-48 w-full overflow-hidden rounded-xl drop-shadow-xl relative">
                                <img class="z-0 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 object-cover m-auto min-w-full min-h-full w-auto h-auto" src=@ArticleData.article_image alt="">
                            </div>
                            <div class="new-text p-3">
                                <div class="new-header my-2">
                                    <div class="new-header-text flex justify-between w-full items-center relative">
                                        <h2 class="text-2xl font-bold my-1">@ArticleData.article_title</h2>
                                        @* <div class="manage-button bi-three-dots w-fit cursor-pointer"></div>
                                        <div class="new-manage hidden justify-around items-center w-20 h-16 absolute overflow-hidden z-50 right-0 top-[-54px] rounded-[.3em] text-sm text-left bg-white">
                                            <div class="manage-new px-2 py-0 text-md cursor-pointer w-full edit-new hover:bg-[ rgb(235, 235, 235)]">Modify</div>
                                            <hr class=" w-5/6 bg-yellow-500 h-[2px]">
                                            <div class="manage-new px-2 py-0 text-md cursor-pointer w-full remove-new hover:bg-[ rgb(235, 235, 235)]">Remove</div>
                                        </div> *@
                                    </div>
                                    <div class="new-date">
                                        <span>Posted on</span>
                                        <span class="new-date-written">@ArticleData.article_date</span>
                                    </div>
                                </div>
                                <div class="new-details">
                                    <p>@ArticleData.article_details</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>



            <div id="studio" class="studio py-5 w-2/5">
                <h2 class="text-2xl font-bold">Studio</h2>
                <div id="studio-section" class="studio-section mt-2 mb-6 border border-yellow-600 rounded-xl flex flex-col items-end overflow-hidden px-3 py-4">
                    <div class="important-docuements w-full">
                        <div class="video flex items-center justify-between w-full h-14 border-b mb-2 rounded-md px-4">
                            <div class="flex">
                                <i class="bi-camera-video text-3xl mr-3"></i>
                                <div class="file-details">
                                    <div class="file-name text-xl h-fit leading-none">Airdrone licnese</div>
                                    <div class="file-date text-xs">28/08/2023</div>
                                </div>
                            </div>
                            <button class="download">
                                <a href="https://picsum.photos/200/300" target="_blank"><i class="bi-link text-xl"></i></a>
                            </button>
                        </div>

                        <div class="video flex items-center justify-between w-full h-14 border-b mb-2 rounded-md px-4">
                            <div class="flex">
                                <i class="bi-camera-video text-3xl mr-3"></i>
                                <div class="file-details">
                                    <div class="file-name text-xl h-fit leading-none">Airdrone licnese</div>
                                    <div class="file-date text-xs">28/08/2023</div>
                                </div>
                            </div>
                            <button class="download">
                                <a href="https://picsum.photos/200/300" target="_blank"><i class="bi-link text-xl"></i></a>
                            </button>
                        </div>

                        <div class="video flex items-center justify-between w-full h-14 border-b mb-2 rounded-md px-4">
                            <div class="flex">
                                <i class="bi-camera-video text-3xl mr-3"></i>
                                <div class="file-details">
                                    <div class="file-name text-xl h-fit leading-none">Dubai Airshow</div>
                                    <div class="file-date text-xs">28/08/2023</div>
                                </div>
                            </div>
                            <button class="download">
                                <a href="https://youtu.be/9u4s_Y9bN-8?si=Bouun26RW4Q1PBuH" target="_blank"><i class="bi-link text-xl"></i></a>
                            </button>
                        </div>


                    </div>
                </div>




                <h2 class="text-2xl font-bold">Resources</h2>
                <div id="studio-section" class="studio-section mt-2 mb-6 border border-yellow-600 rounded-xl flex flex-col items-end overflow-hidden px-3 py-4">
                    <div class="important-docuements w-full">
                        <div class="doc flex items-center justify-between w-full h-14 border-b mb-2 rounded-md px-4">
                            <div class="flex">
                                <i class="bi-file-earmark text-3xl mr-3"></i>
                                <div class="file-details">
                                    <div class="file-name text-xl h-fit leading-none">fileName</div>
                                    <div class="file-date text-xs">28/08/2023</div>
                                </div>
                            </div>
                            <button class="download">
                                <a href="https://picsum.photos/200/300" download="file-name" target="_blank"><i class="bi-download text-xl"></i></a>
                            </button>
                        </div>

                        <div class="doc flex items-center justify-between w-full h-14 border-b mb-2 rounded-md px-4">
                            <div class="flex">
                                <i class="bi-file-earmark text-3xl mr-3"></i>
                                <div class="file-details">
                                    <div class="file-name text-xl h-fit leading-none">fileName</div>
                                    <div class="file-date text-xs">28/08/2023</div>
                                </div>
                            </div>
                            <button class="download">
                                <a href="https://picsum.photos/200/300" download="file-name" target="_blank"><i class="bi-download text-xl"></i></a>
                            </button>
                        </div>

                        <div class="doc flex items-center justify-between w-full h-14 border-b mb-2 rounded-md px-4">
                            <div class="flex">
                                <i class="bi-file-earmark text-3xl mr-3"></i>
                                <div class="file-details">
                                    <div class="file-name text-xl h-fit leading-none">fileName</div>
                                    <div class="file-date text-xs">28/08/2023</div>
                                </div>
                            </div>
                            <button class="download">
                                <a href="https://picsum.photos/200/300" download="file-name" target="_blank"><i class="bi-download text-xl"></i></a>
                            </button>
                        </div>

                        <div class="doc flex items-center justify-between w-full h-14 border-b mb-2 rounded-md px-4">
                            <div class="flex">
                                <i class="bi-file-earmark text-3xl mr-3"></i>
                                <div class="file-details">
                                    <div class="file-name text-xl h-fit leading-none">fileName</div>
                                    <div class="file-date text-xs">28/08/2023</div>
                                </div>
                            </div>
                            <button class="download">
                                <a href="https://picsum.photos/200/300" download="file-name" target="_blank"><i class="bi-download text-xl"></i></a>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>




    </div>

    <dialog id="loginDialog" class="log-in w-[30%] h-fit bg-white rounded-lg relative" close>
        <div class="log-in-wrapper w-full h-full p-8 shadow-2xl mt-[4.5em]">
            <form class="w-full h-full flex flex-col items-center justify-between" action="">
                <div class="email-phone-input w-full h-fit mb-2">
                    <label for="email-phone">Email/ phone number</label>
                    <input id="email-phone" type="text" class="w-full h-10 border border-yellow-600 rounded-sm text-xl mt-1">
                </div>
                <div class="password-input w-full h-fit mb-2">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="w-full h-10 border border-yellow-600  rounded-sm text-xl mt-1">
                </div>
                <div class="form-buttons w-full h-fit flex gap-x-10 my-6">
                    <button class="submit w-1/2 h-10 bg-yellow-600 overflow-hidden relative border border-gray-200 shadow-xl rounded-md">
                        <img class="absolute top-0 left-0 bottom-0 right-0 m-auto" src="https://www.abjaddesign.com/application/files/8015/8874/1892/Abjad_12_UAE_Pass_01.jpg" alt="f">
                    </button>
                    <button class="submit w-1/2 h-10 border border-yellow-600 bg-yellow-600 text-white shadow-xl rounded-md">Log in</button>
                </div>
                <p><a href="">Remeber me</a></p>
                <p class="mt-1 text-gray-300 text-xs">or</p>
                <p class="guest-button text-gray-300 text-xs cursor-pointer">Continue as a guest</p>
            </form>
        </div>
    </dialog>

    <script src="./assets/js/loadNews.js"></script>
    <script src="./assets/js/login.js"></script>


</body>
</html>