*{
    
}

:root{
    --primary-color: #CA8A04;
}

#links li{font-size: 1.1rem;}

dialog{
    /* // display: block; */
    opacity: 0;
    transform: translateY(100px);
    transition: all ease-in-out .3s;
}
/* //block display should be setted when it is OPEN ONLY */
dialog[open]{
    display: block;
    opacity: 1;
    transform: translateY(0);
}

dialog[close]{
    opacity: 0;
    transform: translateY(100px);
}

input[type=text]{
    background-color: white;
    border-radius: .40rem;
    margin-top: .5rem !important;
    padding: .35rem .5rem !important;
    border: var(--primary-color) solid 0.5px;
    width: 100%;
    font-family: "effra" !important;
}

input[type=password]{
    background-color: white;
    border-radius: .60rem;
    margin-top: .5rem !important;
    padding: .35rem .5rem !important;
    border: var(--primary-color) solid 0.5px;
    width: 100%;
    font-family: "effra" !important;
}


input[type=checkbox]{
    background-color: white;
    border-radius: .75rem;
    border: var(--primary-color) solid 0.5px;
    width: 20%;
}

.registration-loader{
    display: none;
}

.registration-loader[loading]{
    display: flex;
    position: absolute !important;
    /* // background-color: var(--primary-color); */
    background-color:rgba(255, 255, 255, 0.95);
    width: 100%; height: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
}
.registration-loader[loading] > .loading-circle{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; margin: 10rem auto auto auto;
    border: 12px solid transparent;
    border-top: 12px solid var(--primary-color);
    border-radius: 50%;
    width: 5rem; height: 5rem;
    animation: load infinite .75s linear;
}

@keyframes load {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


#loginDialog::after{
    content: "Welcome back again, Sir!";
    display: flex; align-items: center; justify-content: center;
    color: white;
    font-size: 1.25em;
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 4em;
    background-color: var(--primary-color);
    border-radius: 0 0 1em 1em;
}

