<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @* <title>@ViewData["Title"] - test</title> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <div class="line md:fixed none left-[13rem] top-[8rem] h-[65%] border-l border-1 border-black"></div>

    @* <div id="loadingPage" class="fixed loading-page bg-white opacity-70 w-full h-full top-0 left-0 z-50">
    <div id="spinner" class="spinner w-20 h-20 rounded-full border-[.7em] border-t-transparent border-yellow-600 absolute inset-0 m-auto">
    </div>
    </div> *@

    <nav class="relative flex md:block md:h-screen md:w-52 items-center md:fixed px-8 py-5">
        <div class="brand flex md:flex-col items-center justify-center md:text-center md:mb-5">
            <img class=" hidden md:block" src="https://pbs.twimg.com/profile_images/1534824296815677440/x_G_U7HE_400x400.jpg" alt="">
            <img class="w-72 md:hidden" src="https://getlogo.net/wp-content/uploads/2020/02/general-civil-aviation-authority-gcaa-logo-vector.png" alt="">
            <p class="p-0 font-bold text-left w-36 text-xs font-droid hidden md:block">GENERAL CIVIL AVIATION AUTHORITY</p>
        </div>
        <button id="expand-navbar" class="text-center block md:hidden grow"><i class="bi-justify px-3 py-1"></i></button>
        <ul id="nav-bar" class="md:flex md:bg-white md:flex-col items-center justify-center overflow-hidden space-y-4 z-[10] md:inset-x-0 -inset-x-44 md:shadow-none shadow-2xl w-fit inset-y-0 md:mx-auto md:relative fixed md:p-0 px-4 py-8 md:py-0">
            <li class="md:hidden nav-item flex items-center w-36 h-fit py-2 text-white text-xl md:text-black">
                <a class="w-24 ml-1" asp-area="" asp-controller="Admin" asp-action="Index">GENERAL CIVIL AVIATION AUTHORITY</a>
            </li>

            <li id="dialog-button" class="cursor-pointer bg-gradient-to-r from-yellow-600 to-yellow-500 rounded-2xl nav-item flex items-center place-content-around hover:bg-yellow-500 ease-in-out duration-300 w-36 h-fit p-2  text-black drop-shadow-lg">
                <i class="bi-plus text-2xl text-white"></i>
                <button class="w-fit"><a class="w-24 text-white" href="#">New Event</a></button>
            </li>

            <li class="nav-item flex items-center w-36 h-fit p-2 text-white md:text-black place-content-around">
                <i class="bi-house"></i>
                <a class="w-24 ml-1" asp-area="" asp-controller="Admin" asp-action="Index">Home page</a>
            </li>

            <li class="nav-item flex items-center w-36 h-fit p-2 text-white md:text-black place-content-around">
                <i class="bi-calendar2-week"></i>
                <a class=" w-24 ml-1" asp-area="" asp-controller="Admin" asp-action="Events">Events</a>
            </li>

            <li class="nav-item flex items-center w-36 h-fit p-2 text-white md:text-black place-content-around">
                <i class="bi-people"></i>
                <a class=" w-24 ml-1" asp-area="" asp-controller="Admin" asp-action="Attendees">Teams</a>
            </li>

            <li class="nav-item flex items-center w-36 h-fit p-2 text-white md:text-black place-content-around">
                <i class="bi-graph-up-arrow"></i>
                <a class=" w-24 ml-1" href="#">Analytics</a>
            </li>

            <li class="nav-item flex items-center w-36 h-fit p-2 text-white md:text-black place-content-around">
                <i class="bi-newspaper"></i>
                <a class=" w-24 ml-1" asp-area="" asp-controller="Admin" asp-action="News">News</a>
            </li>





        </ul>
    </nav>
    <!-- overflow required here to not the elements to extends out of the real size container -->
    <div class="container md:ml-52 px-8 py-1 max-w-[auto] overflow-hidden">
        <div class="top-bar border-b-2 pb-4.25 mb-5 border-gray-200 w-auto h-fit flex justify-end">
            <div class="user-info flex px-3 py-2 items-center w-44 place-content-between">
                <div class="user-image border border-black rounded-full w-7 h-7">
                    <img src="" alt="">
                </div>
                <p class="text-sm">Mr. Person</p>
                <div class="user-options-wrapper bi-chevron-down cursor-pointer relative">
                    <ul class="user-options rounded-lg bg-white drop-shadow-lg w-28 h-20 px-2 absolute -inset-x-24">
                        <li class="text-xs rounded-md w-full h-1/2 flex items-center text-center px-1">Setting</li>
                        <hr class="bg-black w-[80%]">
                        <li class="text-xs rounded-md w-full h-1/2 flex items-center text-center px-1">Log out</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <script src="~/js/userOptions.js"></script>
    <script src="~/js/expandNavbar.js"></script>
    <script src="~/js/newEventOutScope.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" type="text/javascript"></script>
</body>
</html>
